name: Push to Deta Space
on:
  push:
    branches:
      - 'main'
  workflow_dispatch:

jobs:
  push-to-space:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      # - name: Checkout vscode
      #   uses: actions/checkout@v3
      #   with:
      #     repository: 'microsoft/vscode'

      # - name: Checkout repository
      #   uses: actions/checkout@v3
      #   with:
      #     path: repo

      # - name: Merge repository into vscode
      #   run: |
      #     shopt -s dotglob
      #     cp -rf --verbose repo/vscode/* .
      #     rm -r repo

      # - name: Set up node and yarn
      #   uses: actions/setup-node@v3
      #   with:
      #     node-version: 16
      #     cache: 'yarn'

      # # Not needed, already included on ubuntu
      # # - name: Install build tools
      # #   run: sudo apt-get -y install build-essential g++ libx11-dev libxkbfile-dev libsecret-1-dev python-is-python3

      # - name: Build web
      #   run: source build.sh

      # - name: Tree files (DEBUG)
      #   run: |
      #     tree -adhFL 5 --dirsfirst --filelimit 50

      # # - name: Upload a Build Artifact
      # #   uses: actions/upload-artifact@v3.1.2
      # #   with:
      # #     name: built

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up node and yarn
        uses: actions/setup-node@v3
        with:
          node-version: 16
          # cache: 'npm'

      - name: Install npm modules
        run: |
          cd frontend
          npm i
          mkdir vscode-web
          cp -r ./node_modules/vscode-web/dist/* ./vscode-web
          cp ./node_modules/vscode-web/dist/{code-192.png,code-512.png,favicon.ico,manifest.json} .
          ls -a
          ls -a ./vscode-web

      - name: Push to Deta Space
        uses: neobrains/space-deployment-github-action@v0.3
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          space_push: true
