name: Push to Space
on: push

jobs:
  push-to-space:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout vscode
        uses: actions/checkout@v3
        with:
          repository: 'microsoft/vscode'
      
      - name: Checkout repository
      - uses: actions/checkout@v3
        with:
          path: repo
          
      - name: Merge repository into vscode
      - run: |
          shopt -s dotglob
          cp -rf --verbose repo/* .
          rm -r repo .git
      
      - uses: actions/setup-node@v3
        with:
          cache: 'yarn'
        
#       # Not needed, already included on ubuntu
#       - name: Install build tools
#         run: sudo apt-get -y install build-essential g++ libx11-dev libxkbfile-dev libsecret-1-dev python-is-python3
    
      - name: Install vscode deps
        run: yarn
        
      - name: Build web
        run: |
          ls -a
          ./scripts/code-web.sh --help
          ls -a
          ls -a .build
        
      - name: zip built files
        run: zip -r built.zip .build

      - name: Deta Space Deployment Github Action
        uses: neobrains/space-deployment-github-action@v0.3
        with:
          access_token: ${{ secrets.ACCESS_TOKEN }}
          project_id: ${{ secrets.PROJECT_ID }}
          space_push: true
          
